@page
@model ChangePasswordIndexModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the cambiar contraseña</h1>
    <form action="" method="post">
        <input type="password" name="newPwd">
        <input type="password" name="checkPwd">
        <button type="submit">Cambiar contraseña</button>
    </form>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>