<div class="options-btns flex-wrap flex-column flex-md-row d-flex gap-3 w-100 align-items-center justify-content-start">
    <p class="me-0 me-md-3">Opciones:</p>
    <a asp-page="/Dashboard/Detalles" class="btn p-1">Detalles</a>
    <a asp-page="/Dashboard/Pendientes" class="btn p-1">Pendientes</a>
    <a asp-page="/Dashboard/Completos" class="btn p-1">Completos</a>
    <a asp-page="/Dashboard/R-101" class="btn p-1">R-101</a>
    <a asp-page="/Dashboard/R-85" class="btn p-1">R-85</a>
</div>
