<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - laminas_calisa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .logo {
            max-width: 60% !important;
        }

        footer {
            background-color: #f0f0f0;
        }

        header {
            background-color: #001F68;
        }

        .container-bg {
            background-color: #f2f2f2;
            padding: 2rem;
        }

        p {
            margin: 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary-subtle">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">CALISA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Pendientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Crédito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contado</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menú
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Imprimir</a></li>
                            <li><a class="dropdown-item" href="#">Cambiar contraseña</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-bg">
        <div class="mx-0 my-0 px-0 py-0 w-100 container-fluid">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <p class="col-12 col-md-4 mb-0 text-body-secondary text-center text-md-start ps-md-3 ps-0">2025 CALISA Aceros Linares</p>

        <a href="/" class="col-12 col-md-4 d-flex align-items-center justify-content-center my-3 my-md-0 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="logo img-fluid" src="@Url.Content("~/logos/calisa-large.png")" alt="calisa logo" style="max-width: 100%; height: auto;">
        </a>

        <ul class="nav col-12 col-md-4 justify-content-center justify-content-md-end pe-md-3 pe-0">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pendientes</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Crédito</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contado</a></li>
        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>