@page
@model ResetPasswordIndexModel
@{
    ViewData["Title"] = "Reiniciar contraseña";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Reiniciar contraseña</h1>
    <form action="" method="post">
        <input type="email" name="email">
        <button type="submit">Reiniciar contraseña</button>
    </form>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>