@page
@using laminas_calisa.Models
@model DashboardR101Model
@{
    ViewData["Title"] = "Dashboard - R-101";
}

<style>
    .options-btns > a {
        border-radius: 2rem;
        background-color: #ffffff;
        width: 8rem;
    }
</style>

<div class="text-center">
    <partial name="Shared/_DashboardButtons"/>
    <div class="results-table-container table-responsive mt-4">
        <table class="table table-dark table-striped table-bordered table-hover table-sm w-100 text-center align-middle">
            <thead class="thead-dark">
            <tr>
                @foreach (var property in typeof(DashboardOrders).GetProperties())
                {
                    @if (Model.UnwantedProperties.Contains(property.Name)) continue;
                    <th scope="col" class="text-white">
                        @property.Name
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var result in Model.DashboardOrders)
            {
                <tr>
                    @foreach (var property in typeof(DashboardOrders).GetProperties())
                    {
                        @if (Model.UnwantedProperties.Contains(property.Name)) continue;
                        <td class="text-white">
                            @property.GetValue(result)
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>