@page
@model IniciarSesionIndexModel
@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = "_LayoutLogin";
}

<style>
    .form-control {
        margin-bottom: 15px;
    }

    .first-box {
        background-color: #002187;
        border-radius: 3rem;
    }

    label, input {
        color: #000;
    }

    button {
        background-color: #fff !important;
    }
</style>

<div class="text-center h-100 d-flex align-items-center justify-content-center">
    <div class="first-box shadow-lg p-5 d-flex flex-column align-items-center justify-content-center">
        <img src="@Url.Content("~/logos/calisa_circle.png")" alt="calisa logo">
        <h1 class="display-4 mb-4">Iniciar sesión</h1>
        <form class="w-100" method="post">
            <div class="form-group form-floating mb-4">
                <input required class="form-control" type="email" name="email" id="email">
                <label for="email">Correo electrónico</label>
            </div>
            <div class="form-group form-floating mb-4">
                <input class="form-control" type="password" name="pwd" id="pwd">
                <label for="email">Contraseña</label>
            </div>
            <button class="btn mb-4" type="submit">Iniciar sesión</button>
        </form>
    </div>
</div>
